/* Estilo global para el cuerpo de la página */
body {
    font-family: 'Poppins', sans-serif;
    color: #333; /* Color de texto predeterminado */
    background-color: #fff; /* Color de fondo predeterminado */
}

/* Estilo global para los enlaces */
a {
    color: #7d9e47; /* Color predeterminado para los enlaces */
    text-decoration: none; /* Quitar el subrayado predeterminado */
}

/* Estilo global para los encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; /* Utiliza Poppins para todos los encabezados */
    font-weight: bold; /* Negrita para todos los encabezados */
}

/* Estilo para los botones */
.btn {
    background-color: #7d9e47;
}

/* Estilo para el título */
.tittle h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 60px;
    margin-left: 80px;
    color: #000000;
}
  
/* Estilo para el párrafo del título */
.tittle p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-top: 2px;
    margin-left: 80px; 
    color: #434343;
}
