.bg-welcome {
  background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292_1280.jpg');
  background-position: center;
  background-size: cover;
  padding-top:100px;
  padding-bottom: 100px;
  font-family: 'Guttie Regular', sans-serif;
}

.bg-welcome h1 {
  padding-bottom: 20px;
  color: white;
}

.bg-welcome p {
  color: white;
}

body {
  font-family: 'Guttie Regular', sans-serif;
  color: #000000;
}

.btn {
  background-color: #00AB87;
}
