
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.bg-welcome {
  background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292_1280.jpg');
  background-position: center;
  background-size: cover;
  padding-top:100px;
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;
}

.bg-welcome h1 { 
  padding-bottom: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.bg-welcome p {
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.btn {
  background-color: #364024
}
.tittle h2{
  font-family:'Poppins', sans-serif;
  font-size: 30px;
  padding-top: 60px;
  margin-left: 80px;
  color: #000000;
}

.tittle p{
  font-family:'Poppins', sans-serif;
  font-size: 16px;
  padding-top: 2px;
  margin-left: 80px; 
  color: #434343;
}