.bg-welcome {
  background-image: url('https://c.wallhere.com/photos/cc/59/nature_landscape_winter_snow_cold_mountains_trees_mist-1523645.jpg!d');
  background-position: center;
  background-size: cover;
  padding-top:100px;
  padding-bottom: 100px;
}

h1{

padding-bottom: 20px;
color: white;


}
p{
  color: white;
}

