<div class="container">
  <div class="row">
    <div class="col-16">
      <h4 class="mb-3 mt-5" >Listado de Reservas </h4>
        <br>
      <table class="table table-striped mt-2">

        <thead>

            <tr>
            <th scope="col" style="color: #f57d00">Fecha de entrada</th>
            <!-- <th scope="col">Fecha de salida</th> -->
            <th scope="col" style="color: #f57d00">Fecha de salida</th>
            <th scope="col"></th>
            <th scope="col" style="text-align: right; color: #f57d00">Acciones</th>
            <th scope="col"></th>
           
            </tr>
            <br>
              </thead>
                <tbody>
                    @for (booking of bookings; track booking.id) {
                    <tr>

                      <td>{{booking.entryDate}}</td>
                      <!-- <td>{{booking.departureDate}}</td> -->
                      <td>{{booking.departureDate}}</td>
                      <td>

                      </td>
                      <!-- <td>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="accionesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="accionesDropdown">
                            <li><a class="dropdown-item" [routerLink]="['/booking', booking.id, 'detail']">Ver detalle</a></li>
                            <li><button class="dropdown-item" (click)="deleteById(booking.id)">Borrar</button></li>
                            
                          </ul>
                        </div>
                      </td> -->
                      
                      
                      <td>
                        <button id="detalle" type="button" class="btn btn-outline-naranaja me-2"
                        [routerLink]="['/booking', booking.id, 'detail']">
                        <i class="bi bi-eye"></i>
                        Ver detalle</button>
                        <td>
                        <button id="Borrar" class="btn btn-outline-naranaja w-100 py-2 " 
                        (click)="deleteById(booking.id)"> Borrar</button>
                      </td>


                    </tr>
                     }


                </tbody>
              </table>

        </div>

    </div>

</div>
