h1{
  color: #7d9e47;
  font-family: Arial, Helvetica, sans-serif;
}

th{
  color: #7d9e47;
  padding: 10px;
}

#detalle{

  float: right;
  margin-right: 20px;
}
#borrar{
  float: right;
  margin-right: 40px;
}


.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}