



#detalle{

  float: right;
  margin-right: 20px;
}
#borrar{
  float: right;
  margin-right: 40px;
}


.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}

.naranja-border {
  border: 2px solid #f57d00;
}
