<div class="card mt-5 px-4 naranja-border" style="position:relative; margin-left: 120px; margin-right: 120px;">
  <div class="row">
      <div class="col">

          @if(isUpdate){
            <h4 class="mb-2 mt-4" style="color: #f57d00">Actualizar/Editar usuario</h4>
           
        } @else {
            <h4 class="mt-3" style="color: #f57d00">Rellenar formulario</h4>
        }
          <h4 style="margin-top: 20px;">Datos de contacto</h4>
          <form class="mt" [formGroup]="userProfile" (ngSubmit)="save()">

              <input type="hidden" formControlName="id">

              <div class="row" style="margin-top: 10px;" >
                  <div class="col-4" >
                      <label for="firstName">Nombre </label>
                      <input type="text" class="form-control" id="firstName" formControlName="firstName"
                          placeholder="" aria-label="firstName">
                  </div>

                  <div class="col-4">
                      <label for="lastName">Apellido</label>
                      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder=""
                          aria-label="lastName">
                  </div>

                  <div class="col-4">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" formControlName="email" placeholder=""
                          aria-label="email">
                  </div>

                  <div class="row" style="margin-top: 10px;">
                      <div class="col-4" >
                          <label for="phone">Teléfono</label>
                          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder=""
                              aria-label="phone">
                      </div>
                      <div class="col-4">
                          <label for="nif">Nif</label>
                          <input type="text" class="form-control" id="nif" formControlName="nif" placeholder=""
                              aria-label="nif">
                      </div>
                      <div class="col-4">
                          <label for="password">Contraseña</label>
                          <input type="text" class="form-control" id="password" formControlName="password"
                              placeholder="" aria-label="password">
                      </div>

                      <div class="row" style="margin-top: 10px;">
                          <div class="col-4">
                              <label for="street">Dirección</label>
                              <input type="text" class="form-control" id="street" formControlName="street"
                                  placeholder="" aria-label="stree">
                          </div>
                          <div class="col-4">
                                  <label for="city">Ciudad</label>
                                  <input type="text" class="form-control" id="city" formControlName="city"
                                      placeholder="" aria-label="city">
                              </div>
                                  <div class="col-4">
                                      <label for="postalCode">Código postal</label>
                                      <input type="text" class="form-control" id="postalCode"
                                          formControlName="postalCode" placeholder="" aria-label="postalCode">
                                  </div>

                      </div>



                      <div class="d-grid gap-2 mt-5">
                          <button class="btn1 btn-outline-success w-100 py-2" type="submit">Enviar</button>
                          <button class="btn btn-outline-danger w-100 py-2" type="submit" routerLink="/register">Cancelar</button>
                      </div>

                  </div>
              </div>

          </form>

      </div>

  </div>

</div>
