.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}

.btn-house-list {
  width: 49% !important;
}

.naranja-border {
  border: 2px solid #f57d00;
}