<div class="container ">
  <div class="row ">
    <div class="col-12">


      <div class="album py-5 bg-white">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
              @for (house of houses; track house) {
                <div class="col">

                  <div class="card shadow-sm">
                  
                    <a [routerLink]="['/houses', house.id, 'detail']">
                      @if(house.photoUrl){
                      <img class="bd-placeholder-img card-img-top" [src]="'http://localhost:3000/uploads/' + house.photoUrl"  >
                      } @else {
                        <img class="bd-placeholder-img card-img-top" src="/assets/img/default.jpg">

                      }
                    </a>
                      <div class="card-body">
                        <p class="card-text"> <strong>{{house.title}}</strong>
                          <br>
                          
                          
                          <ngb-rating [rate]="4" style="color:#f57d00;"></ngb-rating> 
                          <br>
                          <br>
                          <i class="bi bi-houses"></i> Casa Rural Completa
                          <br>
                          <i class="bi bi-people-fill"></i>  {{house.places}}  plazas
                          <br>
                          <i class="bi bi-geo-alt-fill"></i> {{house.destination}}
                          <br>
                          <br>
                          Desde {{house.price}}€ /noche
                        </p>
                        <!-- <ngb-rating [rate]="3" />  -->
                        
    
                        @if (house) {
                        <button type="button" class="btn btn-outline-naranaja btn-house-list py-2" [routerLink]="['/houses', house.id, 'update']">
                          Editar</button>
                          }
                        <button class="btn btn-outline-naranaja btn-house-list py-2 ms-1 " (click)="deleteById(house.id)"> Borrar</button>

                    </div>
                  </div>


                     
                      <div class="d-flex justify-content-between align-items-center">
                        
                        
                      </div>
                    </div>
              
          }
          </div>
        </div>
      </div>






















     
