ngb-rating{
    color: yellow;
    font-size: 30px;

}
.card-img-top {
    width: 100%;
    height: 200px; /* Puedes ajustar esta altura según tus necesidades */
    object-fit: cover; /* Esto ayuda a mantener la proporción de la imagen */
  }


