ngb-rating{
    color: yellow;
    font-size: 30px;

}
.card-img-top {
    width: 100%;
    height: 200px; /* Puedes ajustar esta altura según tus necesidades */
    object-fit: cover; /* Esto ayuda a mantener la proporción de la imagen */
  }


.container {
    background-color: white;
  }

  .btn-outline-naranaja {
    color: #ffffff;
    background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
    color: #ffffff;
    background-color: #f57d00;
}



