<div class="card mt-5 px-4 naranja-border" style="position:relative; margin-left: 120px; margin-right: 120px;">
    <div class="row">
      <div class="col-lg-8">
  
        <h4 class="mt-4 mb-4">Avatar de usuario</h4>
  
        <form>
  
          <div class="input-group mb-3">
            <label class="input-group-text" for="photoUrl">Subir foto</label>
            <input type="file" class="form-control" id="photoUrl" (change)="onFileChange($event)">
          </div>
  
          <button class="btn btn-outline-naranaja w-25 py-2 mb-4" type="button" (click)="save()">Subir avatar</button>
  
        </form>
  
      </div>
      <div class="col-lg-4">
        
        @if (photoPreview) {
            <h4 class="my-4 ">Nuevo avatar a subir</h4>
            <img class="img-fluid mb-3 rounded-circle" [src]="photoPreview" style="width: 80px; height: 80px;">
        }  
        @if (!photoPreview && user?.photoUrl) {
            <h4 class="my-5">Avatar existente</h4>
            <img class="img-fluid" [src]="'http://localhost:3000/uploads/' + user?.photoUrl">
        } 
     <!--    @else {
          <img class="bd-placeholder-img" src="/assets/img/Usuario2.png" style="width: 80px;">
        } -->
      </div>
    </div>
  </div>