
   <!--

<form [formGroup]="bookForm" (ngSubmit)="save()">


    <div>
        <label for="id">Nombre de la casa</label>
        <select id="id" formControlName="id">
            <option value="">Selecciona una casa</option>
            <option value="id 1">Hershel</option>
            <option value="id 2">Coop</option>
            <option value="id 3">Virgil</option>
            <option value="id 4">Harriet</option>
            <option value="id 5">Lanny</option>
        </select>

    </div>

    <div>
        <label for="entryDate">Fecha de entrada</label>
        <input type="datetime-local" id="entryDate" formControlName="entryDate">
    </div>

    <div>
        <label for="departureDate">Fecha de salida</label>
        <input type="datetime-local" id="departureDate" formControlName="departureDate">
    </div>

    <div>
        <label form="people">Número de personas</label>
        <input type="number" id="people" formControlName="people">
    </div>

    <div>
        <label>Destino</label>
        <select id="destination" formControlName="destination">
            <option value="">Selecciona un destino</option>
            <option value="id 1">Asturias</option>
            <option value="id 2">Asturias</option>
            <option value="id 3">Asturias</option>
            <option value="id 4">Asturias</option>
            <option value="id 5">Asturias</option>
        </select>    </div>

    <div>
        <label for="available">Disponible (Si/No)</label>
        <input type="checkbox" id="available" formControlName="available">
    </div>

    <div>
        <label for="topics">Categorías</label>
        <select id="topics" formControlName="topics" multiple>
            <option value="">Selecciona una categoría</option>
            <option value="playa">Playa</option>
            <option value="montaña">Montaña</option>
            <option value="ciudad">Ciudad</option>
            <option value="ciudad">Pueblo</option>



        </select>
    </div>

    <button type="submit">Enviar</button>

     -->



     <!--

     <div class="row g-3; mt-3" >


        <div class="col">
            <label for="entryDate">Día de entrada</label>
            <input type="date" id="entryDate" formControlName="entryDate" class="form-control">
        </div>
        <div class="col">
            <label for="entryDate">Día de salida</label>
            <input type="date" id="departureDate" formControlName="departureDate" class="form-control">
        </div>

        <div class="col">
            <label for="people">Número de personas</label>
            <input type="number" min="1" step="1" class="form-contol" id="people" formControlName="people" placeholder="" aria-label="people">
        </div>


        <div class="col">
            <label for="destination">Destino</label>
            <input type="text" class="form-contol" id="destination" formControlName="destination" placeholder="" aria-label="destination">
        </div>


      </div>



<div class="card" style="margin: 40px;">
  <div class="card-body">
    <h5 style="margin-left: 10px;">Espacios para reservar</h5>
    <div>
            @if (house) {
              <div class="d-grid gap-2">
              <button [routerLink]="['/booking', house.id, 'form']" class="btn btn-outline-success" >Reservar</button>
            </div>
            }
    </div>

<div class="container">
  <div class="row">
    <div class="col">

      <div class="row g-3; mt-3" >

        <div class="col">
            <label for="entryDate">Día de entrada</label>
            <input type="date" id="entryDate" formControlName="entryDate" class="form-control">
        </div>
        <div class="col">
            <label for="entryDate">Día de salida</label>
            <input type="date" id="departureDate" formControlName="departureDate" class="form-control">
        </div>
        <div class="col">
            <label for="people">Número de personas</label>
            <input type="number" min="1" step="1" class="form-contol" id="people" formControlName="people" placeholder="" aria-label="people" class="form-control">
        </div>
        <div class="col">
          <label for="destination">Destino</label>

        <select class="form-select form-select-lg" aria-label="">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      </div>





    </div>
</div>
  </div>
  </div></div>
-->

<!--
<div class="card" style="margin: 40px;">
  <div class="card-body">
    <h5 style="margin-left: 10px;">Espacios para reservar</h5>
    <div>
            @if (house) {
              <div class="d-grid gap-2">
              <button [routerLink]="['/booking', house.id, 'form']" class="btn btn-outline-success" >Reservar</button>
            </div>
            }
    </div>

<div class="container">
  <div class="row">
    <div class="col">

      <div class="row g-3; mt-3" >

        <div class="col">
            <label for="entryDate">Día de entrada</label>
            <input type="date" id="entryDate" formControlName="entryDate" class="form-control">
        </div>
        <div class="col">
            <label for="entryDate">Día de salida</label>
            <input type="date" id="departureDate" formControlName="departureDate" class="form-control">
        </div>
        <div class="col">
            <label for="people">Número de personas</label>
            <input type="number" min="1" step="1" class="form-contol" id="people" formControlName="people" placeholder="" aria-label="people" class="form-control">
        </div>
        <div class="col">
          <label for="destination">Destino</label>

        <select class="form-select form-select-lg" aria-label="">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      </div>





    </div>
</div>
  </div>
  </div></div>




</form> -->


<div class="card" style="margin: 40px;">
  <div class="card-body">
    <h5 style="margin-left: 10px;">Espacios para reservar</h5>
    <div>
            @if (bookForm) {
              <div class="d-grid gap-2">
              <button class="btn btn-outline-success"  >Reservar</button>
            </div>
            }
    </div>

<div class="container">
  <div class="row">
    <div class="col">

      <div class="row g-3; mt-3" >
        <p>Precio total: {{calculatePrice()}}</p>

        <div class="col">
            <label for="entryDate">Día de entrada</label>
            <input type="date" id="entryDate" formControlName="entryDate" class="form-control">
        </div>
        <div class="col">
            <label for="entryDate">Día de salida</label>
            <input type="date" id="departureDate" formControlName="departureDate" class="form-control">
        </div>
        <div class="col">
            <label for="people">Número de personas</label>
            <input type="number" min="1" step="1" class="form-contol" id="people" formControlName="people" placeholder="" aria-label="people" class="form-control">
        </div>
        <div class="col">
          <label for="destination">Destino</label>

        <select class="form-select form-select-lg" aria-label="">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      </div>
    </div>
</div>
  </div>
  </div></div>

