/* /*.btn {
  background-color: #7d9e47;
  border: none;
  color:#fff;
}

.btn:hover {
  background-color: #5a6b56;
}

h1{
  color: #7d9e47;
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  color: #7d9e47;
  font-family: Arial, Helvetica, sans-serif;
}



span{
  color: #7d9e47;
  font-family: Arial, Helvetica, sans-serif;
}
 */