

<div class="card mt-5 px-4 naranja-border" style="position:relative; margin-left: 120px; margin-right: 120px;">
  <div class="row">
    <div class="col-lg-8">

      @if (showConfirmMessage) {
        <ngb-alert type="warning" [dismissible]="false" class="mt-4 mb-3" style="min-height: 200px">
          Se ha completado tu reserva para la casa {{house?.title}}.          
          <br>
          <br>Para las fechas {{booking?.entryDate}} y {{booking?.departureDate}}
          <br>
          <br>El código de tu reserva es {{booking?.id}}
          
          <div style="text-align: center;">
            <i class="bi bi-check-lg" style="font-size: 4em;"></i>
        </div>
      
          Para cualquier duda contacte con soporte&commat;casaRural.com
        </ngb-alert>
        <button class="w-100 btn btn-outline-naranaja btn-lg" style="margin-bottom: 20px;" routerLink="/houses">Volver a Casa</button>


      } @else {
        <form class="mt-4"
        [formGroup]="bookingForm"
        (ngSubmit)="save()">

        @if (house) {
          <div class="container" >
            <h4 class="mb-3" > Reserva de la casa: <strong> {{house.title}} </strong></h4>
           
          </div>
        }
        <div class="form-floating mb-3">
          <input type="date" class="form-control"
          id="entryDate" formControlName="entryDate"
          placeholder="yyyy-mm-dd" (change)="calculatePrice()">
          <label for="entryDate">Fecha inicio</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control"
          id="departureDate" formControlName="departureDate"
          placeholder="yyyy-mm-dd" (change)="calculatePrice()">
          <label for="departureDate">Fecha fin</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control"
          id="people" formControlName="people"
          placeholder="" (change)="calculatePrice()">
          <label for="people">Personas</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control"
          id="destination" formControlName="destination"
          placeholder="" (change)="save()"readonly>
          <label for="destination">{{house?.destination}}</label>
        </div>


        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox"
          id="breakfast" formControlName="breakfast" (change)="calculatePrice()">
          <label class="form-check-label" for="breakfast">
            Desayuno 10 €/persona
          </label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox"
          id="cleaningService" formControlName="cleaningService" (change)="calculatePrice()">
          <label class="form-check-label" for="cleaningService">
            Servicio de limpieza 30 € 
          </label>
        </div>

        <h4 class="mb-3" style="color: #f57d00;">Forma de Pago</h4>
        
          <div class="form-check mt-3">
    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
    <label class="form-check-label" for="credit">Tarjeta de crédito</label>
  </div>
  <!-- <div class="form-check">
    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
    <label class="form-check-label" for="debit">Tarjeta de débito</label>
  </div>
  <div class="form-check">
    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
    <label class="form-check-label" for="paypal">PayPal</label>
  </div> --> 


  <div class="row gy-3 mt-1">
    <div class="col-md-9">
      <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" required="">
      <small class="text-body-secondary">Nombre completo tal como aparece en la tarjeta</small>
      <div class="invalid-feedback">
        Nombre obligatorio
      </div>
    </div>
    
    <div class="col-md-5">
      <label for="cc-number" class="form-label">Número de tarjeta de crédito</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required="">
      <div class="invalid-feedback">
        Número de tarjeta de crédito
      </div>
    </div>

    <div class="col-md-2">
      <label for="cc-expiration" class="form-label">Expiración</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
      <div class="invalid-feedback">
        Expiración obligatorio
      </div>
    </div>

    <div class="col-md-2">
      <label for="cc-cvv" class="form-label">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
      <div class="invalid-feedback">
        Código de seguridad obligatorio
      </div>
    </div>
  </div>
  
  <button class="w-50 btn btn-outline-naranaja btn-lg mt-3  " type="submit">Finalizar reserva</button>
  <span style="margin-left: 10px;"></span>
  <button class="w-25 btn btn-outline-naranaja btn-lg mt-3 " type="button" routerLink="/houses">Cancelar </button>
  

       </form> 

        
        <div _ngcontent-ng-c3189770292="" >
          <div> 
            @if (bookingForm) {
              <div class="d-grid gap-2 mt-3">
                     
               </div>
            }
              </div> 
          </div> 
          
  <!--
  <button class="w-50 btn btn-outline-naranaja btn-lg mt-3 mb-5  " type="submit">Finalizar reserva</button>
  <span style="margin-left: 10px;"></span>
  <button class="w-25 btn btn-outline-naranaja btn-lg mt-3 mb-5 " type="button" routerLink="/houses">Cancelar </button>
 -->
            <br>
        }  
             
    
      </div> 

      @if (numDays >= 1) {
    <div class="col-md-5 col-lg-4 order-md-last">
      
      <h4 class="mt-4 d-flex justify-content-between align-items-center mb-2">
        <span>Tu reserva</span>
        
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
           
              <h6 class="badge btn btn-outline-naranaja rounded-pill"> {{numDays}} días</h6>
              
          </div>
        </li>
      </h4>
      <ul class="list-group mb-4">
        @if (house) {
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <span>Nombre de la casa</span>
            <br>
              <h6 style="margin-top: 5px;"><strong>{{house.title}}</strong></h6>
              
          </div>
        </li>
        }

        @if (house) {
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <span>Precio noche</span>
              <br>
                <small><strong>{{house.price}} € </strong></small>
                
            </div>
          </li>
          } 

          <li class="list-group-item d-flex justify-content-between ">
            @if(bookingForm.get('people')?.value) {
    
                <div>
                  <h6>Número de personas</h6>
    
                </div>
                <br>
                <span class="text-body-secondary"><strong>{{bookingForm.get('people')?.value}}</strong></span>
    
            }
          </li>
        
          
        <li class="list-group-item d-flex justify-content-between ">
        @if(bookingForm.get('cleaningService')?.value) {

            <div>
              <h6>Servicio de Limpieza</h6>

            </div>
            <br>
            <span class="text-body-secondary"><strong>30 €</strong></span>

        }
      </li>

      <li class="list-group-item d-flex justify-content-between ">
        @if(bookingForm.get('breakfast')?.value) {

            <div>
              <h6>Desayuno</h6>

            </div>
            <br>
            <span class="text-body-secondary"><strong>{{totalBreakfastPrice}} €</strong></span>

        }
      </li>


        <li class="list-group-item d-flex justify-content-between">
          <span>Total (Euros)</span>
          <strong>{{totalPrice}}</strong>
        </li>
      
      </ul>
      
  <!-- 
  <button class="w-50 btn btn-outline-naranaja btn-lg mt-3  " type="submit">Reservar</button>
  <span style="margin-left: 10px;"></span> 
  <button class="w-50 btn btn-outline-naranaja btn-lg mt-3 " type="button" routerLink="/houses">Cancelar </button>
-->

      
       
      
    </div>
      }
  </div>
</div>
