

.navbar-brand img {
  width: 60px;
  height: auto;
  margin-right: 60px;
 
}





.navbar-nav a {
  text-decoration: none;
  color: #171817;
  font-weight: normal; 
} 

.navbar-nav a:hover {
  color: #7d9e47;
}



.btn {
  background-color:white;
  margin-right: 50px;
  border: none;
  color:#0c0c0c;
}

/* .btn:hover {
  background-color: #f4f5f4;
} */

.name-logo {
  color: #eff3ee;
}

.nombre-usuario {
  color: #f57d00;
    
}


.bi-person{
  margin-left: 20px;
}

.custom-btn {
  width: 200px; 
  margin-right: 180px;
}




