.navbar {
  background-color: #e4ddd6;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar-brand img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navbar-nav li {
  display: inline;
  margin: 0 10px;
}

.navbar-nav a {
  text-decoration: none;
  color: #0c0d0c;
  font-weight: normal; /* Cambia el grosor de la fuente a normal */
}

.navbar-nav a:hover {
  color: #00AB87;
}

.dropdown-menu {
  background-color: #f8e8db;
  border: none;
  border-radius: 5px;
}

.dropdown-item {
  color: #333;
}

.dropdown-item:hover {
  background-color: #dfddda;
  color: #fff;
}

.btn {
  background-color: #7d9e47;
  border: none;
  color:#fff;
}

.btn:hover {
  background-color: #5a6b56;
}

.name-logo {
  color: #5a6b56;
}
body {
  font-family: 'Guttie Regular', sans-serif;
  color: #000000;
}