<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo1_.svg" alt="Logo de Rural House" width="40" height="24">
      <span class="name-logo">Rural House</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/houses/create">Crear casa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="houses" href="/houses">Casas Rurales</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/booking">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/profile">Formulario usuario</a>
        </li>


        <li class="nav-item">
          <button type="button" class="btn btn-outline-success py-2" routerLink="/login">Acceso Usuarios</button>
        </li>

      </ul>
    </div>
  </div>
</nav>

