

.navbar-brand img {
  width: 90px;
  height: auto;
  margin-left: 15px;
  margin-top: 5px;
}


.navbar-nav a {
  text-decoration: none;
  color: #171817;
  font-weight: normal; 
} 

.navbar-nav a:hover {
  color: #f57d00;
}

.btn {
  background-color:white;
  margin-right: 50px;
  border: none;
  color:#0c0c0c;
}

/* .btn:hover {
  background-color: #f57d00;
} */

.name-logo {
  color: #eff3ee;
}

.nombre-usuario {
  color: #f57d00;
    
}

.bi-person{
  margin-left: 20px;
}

.custom-btn {
  width: 200px; 
  margin-right: 180px;
}




.navbar-custom {
  border-bottom: 4px solid #f57d00;
}

