<div class="container">
  <div class="row">
      <div class="col">

          @if(isUpdate){
              <h2 class="mt-5">Actualizar/Editar casa existente</h2>
          } @else {
              <h2 class="mt-3">Introduce los detalles de tu casa</h2>
          }


          <form class="mt-5" [formGroup]="houseForm" (ngSubmit)="save()">

              <input type="hidden" formControlName="id">

              <div class="row">
                  <div class="col">
                      <label for="title">Nombre de la casa</label>
                      <input type="text" class="form-control" id="title"
                      formControlName="title" placeholder="" aria-label="title">
                  </div>

                  <div class="col">
                    <label for="address">Dirección</label>
                    <input type="address" class="form-control" id="address"
                    formControlName="address" placeholder="" aria-label="address">
                </div>

                  <div class="col">
                      <label for="places">Plazas</label>
                      <input type="text"  class="form-control" id="places"
                          formControlName="places" placeholder="" aria-label="places">
                  </div>

                  <div class="col">
                      <label for="bedrooms">Habitaciones</label>
                      <input type="number" min="1" max="10" step="1" class="form-control" id="bedrooms"
                          formControlName="bedrooms" placeholder="" aria-label="bedrooms">
                  </div>

                  <div class="row">
                      <div class="col">

                          <label for="bathrooms">Baños</label>
                          <input type="number" min="1" max="10" step="1" class="form-control" id="bathrooms"
                              formControlName="bathrooms" placeholder="" aria-label="bathrooms">




                      </div>

                      <div class="col">
                          <label for="price">Precio por noche (€)</label>
                          <input type="number" min="0" max="300" step="0.01" class="form-control" id="price"
                              formControlName="price" placeholder="" aria-label="price">
                      </div>

                      <div class="col">
                          <label for="meters">Metros cuadrados</label>
                          <input type="number" min="50" max="1000" step="1" class="form-control" id="meters"
                              formControlName="meters" placeholder="" aria-label="meters">
                      </div>

                      <div class="col">
                          <label for="destination">Ubicación</label>
                          <select class="form-select" id="destination"
                          formControlName="destination" aria-label="destination"
                          [compareWith]="compareObjects">

                              <option>Selecciona Ubicación</option>
                              <option value="Madrid">Madrid</option>
                              <option value="Almeria">Almeria</option>
                              <option value="Asturias">Asturias</option>

                            </select>

                      </div>

                      <div class="mt-4">
                          <table class="table">

                              <tbody>
                                <tr>
                                  <td scope="row"><div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="petFriendly"
                                          formControlName="petFriendly">
                                      <label class="form-check-label" for="petFriendly">
                                          PetFriendly
                                      </label>
                                  </div></td>
                                  <td>
                                      <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="pool"
                                          formControlName="pool">
                                      <label class="form-check-label" for="pool">
                                          Piscina
                                      </label>
                                      </div>
                                  </td>

                                  <td>
                                      <input class="form-check-input" type="checkbox" value="" id="garden"
                                              formControlName="garden">
                                          <label class="form-check-label" for="garden">
                                              Jardin
                                          </label>
                                  </td>

                                </tr>
                                <tr>
                                  <td scope="row">
                                      <input class="form-check-input" type="checkbox" value="" id="terrace"
                                              formControlName="terrace">
                                          <label class="form-check-label" for="terrace">
                                              Terraza
                                          </label>
                                  </td>

                                  <td>
                                      <input class="form-check-input" type="checkbox" value="" id="wifi"
                                              formControlName="wifi">
                                          <label class="form-check-label" for="wifi">
                                              WiFi
                                          </label>
                                  </td>

                                  <td>
                                      <input class="form-check-input" type="checkbox" id="air"
                                              formControlName="air">
                                          <label class="form-check-label" for="air">
                                              Aire acondicionado
                                          </label>
                                  </td>

                                </tr>

                              </tbody>
                            </table>

                      </div>
                          <div class="form-floating mt-4" >
                              <textarea class="form-control" placeholder="Leave a comment here" id="description"
                              formControlName="description" style="height: 100px"></textarea>
                              <label for="description">Descripción</label>
                            </div>
                          </div>
                      </div>
                      
                      <h4 class="mt-4">Datos de contacto</h4>
                      <div class="col-4">
                        <label for="phone">Teléfono</label>
                        <input type="text"  class="form-control" id="phone"
                            formControlName="phone" placeholder="" aria-label="phone">
                    </div>
                    
    
                      <div class="col-4">
                          <label for="email">Email</label>
                          <input type="text"  class="form-control" id="email"
                              formControlName="email" placeholder="" aria-label="email">
                      </div>

                      <h4 class="mt-4">Añadir Fotos</h4>
                      <div class="input-group mt-4"> 
                        <label class="input-group-text" for="photoUrl"> Subir Foto</label>
                        <input type="file" class="form-control" id="photoUrl" (change)="onFileChange($event)"> 
                        <input type="hidden" formControlName="photoUrl">

                       <!--  <div class="input-group mb-3">
                          <label class="input-group-text" for="photoUrl">Subir foto</label>
                          <input type="file" class="form-control" id="photoUrl" (change)="onFileChange($event)">
                        </div> -->
                    </div> 
                    <br>
                   <!--  <button class="w-15 btn btn-success" type="submit">Guardar</button> -->

              <div class="d-grid gap-2 mt-5">
                   <button class="btn btn-outline-success w-100 py-2" type="submit">Enviar</button> 
                  <button class="btn btn-outline-danger w-100 py-2" type="submit" routerLink="/houses">Cancelar</button>
                </div>


          </form>
          <div class="col-lg-8">
            @if (photoPreview) {
                <h3 class="my-5">Previsualización</h3>
                <img class="img-fluid" [src]="photoPreview">
            }
        </div>


      </div>

  </div>

</div>
