body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.btn {
  background-color: #f57d00;
  border: none;
  color:#fff;
}
.btn:hover {
  background-color: #f57d00;
}
.tittle h2{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 60px;
  margin-left: 80px;
  color: #000000;
}

.tittle p{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-top: 2px;
  margin-left: 80px; 
  color: #434343;
}