
<div class="container">
    <div class="row">
      <div class="col-16">
        <h1 class="mt-3">Listado de Usuarios </h1>
          <br>
        <table class="table">
  
          <thead>
  
              <tr>
              <th scope="col">Nombre</th>
              <!-- <th scope="col">Fecha de salida</th> -->
              <th scope="col">Apellido</th>
              <th scope="col" style="text-align: center;">Email</th>
              <th scope="col"></th>
              <th scope="col" style="text-align: left;">Acciones</th>
              <th scope="col"></th>
              </tr>
              <br>
                </thead>
                  <tbody>
                      @for (user of users; track user.id) {
                      <tr>
  
                        <td>{{user.firstName}}</td>
                        <!-- <td>{{booking.departureDate}}</td> -->
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                       
                        <td>
                          <button id="detalle" type="button" class="btn btn-outline-success me-2"
                          [routerLink]="['/user', user.id, 'detail']">
                          <i class="bi bi-eye"></i>
                          Ver detalle</button>
                          
                          <td>

                            @if (users) {
                              <button type="button" class="btn btn-outline-success w-50 py-2" [routerLink]="['/user', user.id, 'profile']">
                                Editar</button>
                                }
                              <button class="btn btn-outline-danger w-50 py-2 " (click)="deleteById(user.id)"> Borrar</button>
                            <!-- <button type="button" class="btn btn-outline-success w-50 py-2" [routerLink]="['/user', user.id, 'profile']">
                              Editar</button>
                          <button id="Borrar" class="btn btn-outline-danger w-50 py-2 " 
                          (click)="deleteById(user.id)"> Borrar</button> -->
                        </td>
  
  
                      </tr>
                       }
  
  
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  
