<div style="position: relative; top: -185px;  width: 100%; height: 100px; z-index: -1; ">
  <img class="img-fluid" src="/assets/img/USER-LIST.jpg" >
</div>

<div class="card mt-5 px-4 naranja-border" style="position:relative; margin-left: 120px; margin-right: 120px; z-index: 0;">
  <div class="row">
    <div class="col-16">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16" style="margin-top: 35px; margin-left: 350px; position: absolute; z-index: 1; color:#000000">
        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      </svg>
      <h4 class="mt-5" style="text-align: center;">Listado de usuarios </h4>
      <br>
      <table class="table">
  
          <thead>
              <tr>
              <th scope="col" style="color: #f57d00">Nombre</th>
              <!-- <th scope="col">Fecha de salida</th> -->
              <th scope="col" style="color: #f57d00">Apellido</th>
              <th scope="col" style="color:#f57d00">Email</th>
              <th scope="col" style="color:#f57d00; text-align: center;">Acciones</th>
              </tr>
            </thead>
                  <tbody>
                      @for (user of users; track user.id) {
                      <tr>
  
                        <td>{{user.firstName}}</td>
                        <!-- <td>{{booking.departureDate}}</td> -->
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                      
                        <td>
                          <button id="detalle" type="button" class="btn btn-outline-naranaja"
                          [routerLink]="['/user', user.id, 'detail']">
                          <i class="bi bi-eye"></i>
                          Ver detalle</button>
                          <span style="margin-left: 10px;"></span>
                          <button type="button" class="btn btn-outline-naranaja w-25 py-2" [routerLink]="['/user', user.id, 'profile']">
                          Editar</button>
                          <span style="margin-left: 10px;"></span>
                          <!-- <button class="btn btn-outline-naranaja w-25 py-2 " (click)="deleteById(user.id)"> Borrar</button> -->
                          <button class="btn btn-outline-naranaja w-25 py-2 " (click)="openModal(content, user)"> Borrar</button>
                        </td>
                     
                      </tr>
                       }
  
  
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Desea borrar este ususario?</h4>
      <button type="button" class="btn-close" aria-label="Cancelar" (click)="modal.dismiss('Cancelar')"></button>
    </div>
    <div class="modal-body">
      <p>Para continuar pulse aceptar</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Aceptar')">Aceptar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Cancelar')">Cancelar</button>
    </div>
  </ng-template>
