<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <img src="/assets/img/logo-eka2.svg" alt="logo" style="max-width: 100px;"> 
      </div>

     

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Suscríbete a nuestro boletín</h5>
          <p>¿Quieres recibir las mejores ofertas nuestras casas rurales?</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-success" type="button">Suscríbete</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-black">© 2024 Rural House, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-threads fs-2"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-twitter-x fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-linkedin fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-whatsapp fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-tiktok fs-3"></i>
          </a>
        </li>
        