<div class="container" >
  <footer class="py-4 sm">
    <div class="row">
      <div class="col-3 col-md-2 mb-3">

        <img src="/assets/img/logo1_.svg" alt="logo" style="max-width:120px;">


      </div>

      <div class="col-6 col-md-4 mb-2">
       
        
        <div class="move-right">
          <h6>Section</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li> -->
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
        
      </div>

     

      <div class="col-md-5 offset-md-1 mb-3">


        <form>
          <h6>Suscríbete a nuestro boletín</h6>
          <p>¿Quieres recibir las mejores ofertas nuestras casas rurales?</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-dark" type="button">Suscríbete</button>

          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-4 border-top">
      <p>© 2024 Rural House, Inc. All rights reserved</p>
      <ul class="list-unstyled d-flex">

        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-threads fs-5"></i>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-twitter-x fs-5"></i>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-linkedin fs-5"></i>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-whatsapp fs-5"></i>
          </a>
        </li>

        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-tiktok fs-5"></i>
          </a>
        </li>


      </ul>
    </div>
  </footer>
</div>

