 
     

     
    <!-- <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-black"> 2024 Rural House, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-threads fs-5"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-twitter-x fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-linkedin fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-whatsapp fs-3"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
            <i class="bi bi-tiktok fs-3"></i>
          </a>
        </li>  -->


<!-- End of .container -->
        

     
<!-- 
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </footer> -->

        <footer>
        
        <div class="d-flex flex-column flex-sm-row justify-content-between py-1 my-4 border-top">
          <p>© 2024 Rural House, Inc. All rights reserved</p>
          <ul class="list-unstyled d-flex">
    
            <li class="ms-3">
              <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
                <i class="bi bi-threads fs-5"></i>
              </a>
            </li>
    
            <li class="ms-3">
              <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
                <i class="bi bi-twitter-x fs-5"></i>
              </a>
            </li>
    
            <li class="ms-3">
              <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
                <i class="bi bi-linkedin fs-5"></i>
              </a>
            </li>
    
            <li class="ms-3">
              <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
                <i class="bi bi-whatsapp fs-5"></i>
              </a>
            </li>
    
            <li class="ms-3">
              <a class="link-body-emphasis" href="https://ruralhouse.com" target="_blank">
                <i class="bi bi-tiktok fs-5"></i>
              </a>
            </li>
    
    
          </ul>
        </div>
      </footer>
        