
  body {
    font-family: 'Guttie Regular', sans-serif;
    color: #000000;
  }
  
  .btn {
    background-color: #00AB87;
  }


/* Estilo para el color del texto del botón con ID "detalle" */
#detalle {
    color: #FCFBEA;
}