.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}