
<main class="form-signin w-100 m-auto">
  <form [formGroup]="registerForm" (ngSubmit)="save()">
    <h1 class="h3 mb-3 fw-normal" routerLink="/user/profile">Crear nueva cuenta</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="nickname" placeholder="alan_sastre" formControlName="nickname">
      <label for="nickname">Nickname</label>
      @if(registerForm.controls.nickname.touched && registerForm.controls.nickname.errors) {
        <div>
          @if (registerForm.controls.nickname.errors['required']) {
            <small class="text-danger">Nickname es obligatorio.</small>

          }
          @if (registerForm.controls.nickname.errors['minlength']) {
            <small class="text-danger">Nickname debe tener longitud >= 3 caracteres.</small>

          }
          @if (registerForm.controls.nickname.errors['maxlength']) {
            <small class="text-danger">Nickname debe tener longitud <= 15 caracteres.</small>
          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <label for="email">Email</label>
      @if(registerForm.controls.email.touched && registerForm.controls.email.errors) {
        <div>
          @if (registerForm.controls.email.errors['required']) {
            <small class="text-danger">Email es obligatorio.</small>
          }
          @if (registerForm.controls.email.errors['email']) {
            <small class="text-danger">Email debe tener formato correcto.</small>

          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="phone" placeholder="666555444" formControlName="phone">
      <label for="phone">Teléfono móvil</label>
      @if(registerForm.controls.phone.touched && registerForm.controls.phone.errors) {
        <div>
          @if (registerForm.controls.phone.errors['required']) {
            <small class="text-danger">Teléfono es obligatorio.</small>
          }
          @if (registerForm.controls.phone.errors['pattern']) {
            <small class="text-danger">El teléfono debe tener un formato de 9 dígitos.</small>

          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Contraseña</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passwordConfirm" placeholder="Password" formControlName="passwordConfirm">
      <label for="passwordConfirm">Confirmación contraseña</label>
      @if(registerForm.controls.passwordConfirm.touched && registerForm.getError('confirmError')) {
        <div>
            <small class="text-danger">Las contraseñas no coinciden.</small>
        </div>
      }
    </div>

    <button class="btn btn-outline-success w-100 py-2" type="submit" [disabled]="registerForm.invalid" >Crear cuenta</button>
    @if (registerForm.invalid) {
      <small class="text-danger">Debes completar de forma correcta todos los campos para poder guardar.</small>
    }

    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>
</main>




