.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}
.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto asegura que el formulario ocupe toda la altura de la ventana */
}
