<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 my-center">
<main class="form-signin w-100 m-auto">
  <form [formGroup]="registerForm" (ngSubmit)="save()">
    <h4 class="mb-3 mt-5 " style="color: #ffffff;" routerLink="/register/profile">Crear nueva cuenta</h4>

    <div class="form-floating">
      <input type="text" class="form-control" id="nickname" placeholder="" formControlName="nickname">
      <label for="nickname">Nickname</label>
      @if(registerForm.controls.nickname.touched && registerForm.controls.nickname.errors) {
        <div>
          @if (registerForm.controls.nickname.errors['required']) {
            <small class="text-danger">Nickname es obligatorio.</small>

          }
          @if (registerForm.controls.nickname.errors['minlength']) {
            <small class="text-danger">Nickname debe tener longitud >= 3 caracteres.</small>

          }
          @if (registerForm.controls.nickname.errors['maxlength']) {
            <small class="text-danger">Nickname debe tener longitud <= 15 caracteres.</small>
          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <label for="email">Email</label>
      @if(registerForm.controls.email.touched && registerForm.controls.email.errors) {
        <div>
          @if (registerForm.controls.email.errors['required']) {
            <small class="text-danger">Email es obligatorio.</small>
          }
          @if (registerForm.controls.email.errors['email']) {
            <small class="text-danger">Email debe tener formato correcto.</small>

          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Contraseña</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passwordConfirm" placeholder="Password" formControlName="passwordConfirm">
      <label for="passwordConfirm">Confirmación contraseña</label>
      @if(registerForm.controls.passwordConfirm.touched && registerForm.getError('confirmError')) {
        <div>
            <small class="text-white">Las contraseñas no coinciden.</small>
        </div>
      }
    </div>
   
   
      <button class="btn btn-outline-naranaja w-100 py-2" type="submit" [disabled]="registerForm.invalid">Crear cuenta</button>
      @if (error) {
        <small class="text-white">{{error}}</small>
      }
   
    
    @if (registerForm.invalid) {
      <small style="color: #f57d00;">Debes completar de forma correcta todos los campos para poder guardar.</small>
    }

   
  </form>
</main>

</div>
</div>

<div class="col-8 " style="position: absolute; top: -60px; left: 0; width: 100%; height: 100%; z-index: -1;">
  <img src="/assets/img/41338960465_55053d02b4_k.jpg" style="width: 100%; height: 100%;" alt="lago" class="img-fluid">
</div>
</div>


