.btn {
  background-color: #7d9e47;
  border: none;
  color:#fff;
}

.btn:hover {
  background-color: #5a6b56;
}

.btn-outline-naranaja {
  color: #ffffff;
  background-color: rgb(60, 56, 56);
}

.btn-outline-naranaja:hover {
  color: #ffffff;
  background-color: #f57d00;
}

.naranja-border {
  border: 2px solid #f57d00;
}
.img-fluid {
  width: 100%;
  height: auto;
}
